@use "./variables" as *;

* {
  font-family: $font-default;
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

.link {
  color: $colour-secondary;
  text-decoration: underline;
}

.line{
  border: 1px solid $colour-primary;
  margin: 10px 0;
}