@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$font-default: 'Noto Sans',Helvetica Neue,Helvetica,Arial,sans-serif;

$colour-primary: #4abef9;
$colour-secondary: #0037ff;